*{
        margin: 0; padding: 0; box-sizing: border-box; line-height: 1; color: #fff; outline: none;text-decoration: none;
    }

    #container{
        background: #333; width: 80vw; min-height: 100vh; margin: 0 auto; position: relative; border:5px solid black;
    }
    h1{
        text-align: center; text-transform: uppercase; position: absolute; display: block; width: 100%; color: #fff;
        margin: 0;
    }
    h1:nth-child(1){    
        top: 0; left: 0; border-bottom: 2px solid #000; padding: 5px;
    }
    h1:last-child{
        bottom: 0; left: 0; border-top: 2px solid #000; padding: 5px;
    }
    table{
        width: 50%; margin: 0 auto; border: 1px solid black; padding: 10px; border-collapse: collapse;
    }
    td{
        width: 50%;  text-transform: uppercase; font-size: 20px; border: 1px solid #000; padding: 10px;
    }
    input[type = 'submit']{
        width: 50%; margin: 0 auto; display: block; font-size: 15px; text-transform: uppercase; padding: 5px; border: none; color: black; cursor: pointer;
    }
    input[type = 'submit']:hover{
        box-shadow: 0 0 10px #000 inset;
    }
  input[type=text]{
    width: 100%;  font-size: 15px; text-transform: uppercase; padding: 5px; border: none; color: black; 
}
  input[type=file]::file-selector-button {
    width: 50%;  font-size: 15px; text-transform: uppercase; padding: 5px; border: none; color: black; cursor: pointer; display: inline-block;
}
input[type=file]::file-selector-button:hover{
    box-shadow: 0 0 10px #000 inset;
}
input[type=text]:focus,input[type=text]:hover{
    box-shadow: 0 0 10px #000 inset;
}
.btn{
    width: 100%;  font-size: 15px; text-transform: uppercase; padding: 5px; border: none; color: black; cursor: pointer; display: block; background: #fff;
    text-align: center;
}
.btn:hover{
    box-shadow: 0 0 10px #000 inset;
}

.error{
    z-index: 1; background: rgb(245, 106, 0); Color: black; 
    position: fixed; min-width: 250px; animation-name: example; animation-duration: 2s; top: 100px; right: 0;
     overflow: hidden; padding: 20px; font-size: 15px; border-radius: 5px; display: inline-block;
}
.success{
    z-index: 1; background: rgb(45, 255, 73); Color: black; 
    position: fixed; min-width: 250px; animation-name: example; animation-duration: 2s; top: 100px; right: 0;
     overflow: hidden; padding: 20px; font-size: 15px; border-radius: 5px; display: inline-block;
}

.errorCloser{
    background: rgba(0, 255, 0, 0.863); padding: 10px 15px; text-transform: uppercase; margin-left: 10px; font-size: 15px; 
    color: black; font-family: arial; border-radius: 5px; cursor: pointer; border: 1px solid; margin: 0 5px;
}

body{
    background: #333;
}
#secondContainer{
     padding: 20px; height: 89vh; margin-top: -5px;
    overflow: hidden;
}
#resultContainer{
    width: 50%; margin: 0 auto; 
}
#searchResult{
    display: flex; border: 1px solid black;
}
#filename{
 display: inline-block; width: 70%; padding: 5px; text-transform: uppercase; border-right: 1px solid black;
}
#download{
     display: inline-block; width: 30%; padding: 5px; text-transform: uppercase; 
}
#noData{
    border:1px solid black; text-align: center; color: red; padding: 10px; text-transform: uppercase; font-size: 18px;
}